*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d0cfcf;
    min-height: 100vh;
}

h1{
    color: #F3A26D;
    font-size: 4rem;
    padding-bottom: 2rem;
}

abbr{
    text-decoration: none;
}

footer{
    padding: 2rem;
}

footer a{
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    color: #00809D;
}

.navLink{
    transition: all 0.3s ease-in-out;
}

.navLink:hover{
    color: #F3A26D;
}

#main-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.user-input{
    width: 10rem;
    border: 3px solid #FCECDD;
    color: #00809D;
    font-size: 1.3rem;
    background-color: inherit;
    border-radius: 2rem;
    text-align: center;
    height: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.user-input:focus{
    box-shadow: 2px 4px 8px #FCECDD;
    outline: none;
}

.user-input:hover{
    box-shadow: 2px 4px 8px #FCECDD;
}

#operation-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    width: auto;
}

.operation-button{
    margin-top: 2rem;
    background-color: #c1bfbf;
    border: none;
    margin-right: 1rem;
    border-radius: 2rem;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease-in-out;
}

#clear-btn{
    font-size: 1.5rem;
}

.operation-button:hover{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    cursor: pointer;
}

#result-div{
    margin-top: 5rem;
}

.unit-label{
    text-align: center;
    font-size: 2.6rem;
}